.App {
  text-align: center;
}

body{
  font-family: Poppins;
}

.body-header{
  padding: 70px;
}

.body-sort{
  text-align:left;
  display: flex;
  width: 70%;
  flex-wrap: wrap;
  align-items: center;
  vertical-align: center;
}

.nav-bar{
  width: 100%;
  background-color: #153f65;
  color:white;
  position: sticky;
  top:0px;
  z-index: 1;
  display: flex;
  justify-content: center;
}

.nav-container{
  width: 70%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.nav-side{
  display: flex;
  flex-direction: row;
}

.nav-text{
  font-size: 20px;
  padding: 5px 17px 0px 17px;
}

.body-container{
  width: 100%;
  margin: auto;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  color:#153f65;
}

.selector{
  font-size:15px;
  margin-left: 20px;
  margin-right: 20px;
}

.filter-word{
  font-size:20px;
  border: 1px solid black;
  padding: 0px 20px 0px 20px;
  margin-left: 10px;
  margin-right: 10px;
}

.row{
  padding:10px;
}

.grid {
  width:70%;
  display:flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap:wrap;
}

.grid-card{
  width:32%;
  display: flex;
  text-align: left;
  flex-direction: column;
  padding:5px;
  margin-top:10px;
}

.grid-card-body{
  position: relative;
  height:180px;
}

.card-title{
  font-size:20px;
  margin-right:10px;
}

.card-bottom{
  bottom: 0px;
  position: absolute;
}

.card-top{
  top:0px;
  position: absolute;
}

.product-sizes{
  display: flex;
  flex-direction: row;
}

.sizes-text{
  font-size: 12px;
  padding: 8px;
  margin-right: 5px;
}

.price-text{
  font-size:15px;
  font-weight: bold;
}

@media (min-width:0px) and (max-width: 600px){
  .grid{
    width: 80%;
  }

  .grid-card{
    width:90%;
  }

  .body-sort{
    width: 80%;
  }
}

@media (min-width: 600px) and (max-width: 1024px) {
  .grid{
    width:95%;
  }
  .grid-card{
    width:45%;
  }
  .body-sort{
    width: 95%;
  }
}